// app global css in SCSS form
@mixin scroll($width) {
     ::-webkit-scrollbar {
        width: $width;
    }
     ::-webkit-scrollbar-track {
        background: rgb(241, 241, 241);
        border-radius: 0px;
    }
     ::-webkit-scrollbar-thumb {
        background-color: rgb(223, 223, 223);
        border-radius: 6px;
        border: 2px solid rgb(223, 223, 223);
    }
     ::-webkit-scrollbar-thumb:hover {
        background: rgb(223, 223, 223);
    }
}

body {
    @include scroll(6px);
    #container {
        background: #efefefe0;
        height: calc(100vh - 84px);
        border-radius: 10px;
        padding: 20px;
        overflow-y: auto;
    }
    fieldset {
        border: 1px solid #81777747;
        border-radius: 6px;
        margin: 0px 8px 0px 8px;
        padding: 0.4em 0.75em 0.8em;
        legend {
            padding: 0 10px 0 10px;
            color: #636363;
            font-weight: 600;
        }
    }
    .q-notifications__list {
        .notification-confirm {
            .q-notification__content {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                text-align: center;
                .q-icon {
                    font-size: 60px;
                }
                .q-notification__wrapper {
                    width: 300px;
                    height: 150px;
                }
                .q-notification__message {
                    div {
                        &:first-child {
                            color: #7c7c7b;
                            font-size: 16px;
                            font-weight: 700;
                        }
                        &:last-child {
                            color: #8c8c8c;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    .q-drawer--standard {
        .sidebar-left {
            .q-item {
                min-height: 46px;
                width: unset;
                &.q-router-link--exact-active {
                    border-left: 4px solid $secondary;
                }
            }
        }
    }
    .q-drawer--mini {
        .sidebar-left {
            .q-item {
                min-height: 40px;
                width: 40px;
                &.q-router-link--exact-active {
                    border-radius: 100px;
                    background-color: $secondary !important;
                    color: #fff !important;
                }
            }
        }
    }
    .app-table {
        td {
            height: 43px;
        }
    }
    .app-btn-actions {
        .q-item__section--avatar {
            min-width: 25px !important;
        }
    }
    .dark-theme {
        .q-header,
        .q-drawer,
        .main-page-content {
            background-color: $dark !important;
        }
        .q-drawer {
            .q-item {
                color: $light !important;
            }
        }
    }
    .light-theme {
        .q-header,
        .q-drawer,
        .main-page-content {
            background-color: $light !important;
        }
        .avatar-profile {
            background-color: $dark !important;
        }
    }
}