// app global css in SCSS form
body {
  #container {
    background: #efefefe0;
    height: calc(100vh - 75px);
    border-radius: 10px;
    margin-right: 16px;
    margin-left: 16px;
    padding: 20px;
    overflow-y: auto;
  }
  .q-drawer--standard {
    .sidebar-left {
      .q-item {
        &.q-router-link--exact-active {
          border-left: 4px solid $primary;
        }
      }
    }
  }
  .q-drawer--mini {
    .sidebar-left {
      .q-item {
        &.q-router-link--exact-active {
          border-radius: 8px;
          background-color: #0f0a38bd !important;
          color: #fff !important;
        }
      }
    }
  }
  .app-table {
    td {
      height: 43px;
    }
  }
  .app-btn-actions {
    .q-item__section--avatar {
      min-width: 25px !important;
    }
  }
}
